{% extends 'main/base.html' %}

{% load static %}

{% block content %}

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="#">Home</a> / Properties</span>
          <h3>Properties</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section properties">
    <div class="container">
      <ul class="properties-filter">
        <li>
          <a class="is_active" href="{% url 'properties' %}" data-filter="*">Show All</a>
        </li>
          {% for category in categories %}
        <li>
          <a href="?category={{ category.id }}" data-filter=".adv">{{ category.name }}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="row properties-box">
        {% for house in houses %}
        <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 adv">
          <div class="item">
            <a href="{% url 'house-detail' house.id %}"><img src="{{ house.image.url }}" alt=""></a>
            <span class="category">{{ house.category_name }}</span>
            <h6>${{ house.price }}</h6>
            <h4><a href="{% url 'house-detail' house.id %}">{{ house.address }}</a></h4>
            <ul>
              <li>Bedrooms: <span>{{ house.bedrooms }}</span></li>
              <li>Bathrooms: <span>{{ house.bathrooms }}</span></li>
              <li>Area: <span>{{ house.area }}m2</span></li>
              <li>Floor: <span>{{ house.floor }}</span></li>
              <li>Parking: <span>{{ house.parking }} spots</span></li>
            </ul>
            <div class="main-button">
              <a href="{% url 'house-detail' house.id %}">Schedule a visit</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">1</a></li>
            <li><a class="is_active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">>></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}